In [2]:
# use online dataset: iris

# https://archive.ics.uci.edu/ml/datasets/iris

# pandas import
import pandas as pd

# read csv file
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
                    header=None,
                    names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

# print first 5 rows

display(df.head())
# print last 5 rows

display(df.tail())

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

     sepal_length  sepal_width  petal_length  petal_width           class
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [11]:
print(list(df['sepal_length'] > 5))

sepal_length_bigger_than_5 = filter(lambda x: x > 2, df['sepal_length'])

display(list(sepal_length_bigger_than_5))

[True, False, False, False, False, True, False, False, False, False, True, False, False, False, True, True, True, True, True, True, True, True, False, True, False, False, False, True, True, False, False, True, True, True, False, False, True, False, False, True, False, False, False, False, True, False, True, False, True, False, True, True, True, True, True, True, True, False, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

[5.1,
 4.9,
 4.7,
 4.6,
 5.0,
 5.4,
 4.6,
 5.0,
 4.4,
 4.9,
 5.4,
 4.8,
 4.8,
 4.3,
 5.8,
 5.7,
 5.4,
 5.1,
 5.7,
 5.1,
 5.4,
 5.1,
 4.6,
 5.1,
 4.8,
 5.0,
 5.0,
 5.2,
 5.2,
 4.7,
 4.8,
 5.4,
 5.2,
 5.5,
 4.9,
 5.0,
 5.5,
 4.9,
 4.4,
 5.1,
 5.0,
 4.5,
 4.4,
 5.0,
 5.1,
 4.8,
 5.1,
 4.6,
 5.3,
 5.0,
 7.0,
 6.4,
 6.9,
 5.5,
 6.5,
 5.7,
 6.3,
 4.9,
 6.6,
 5.2,
 5.0,
 5.9,
 6.0,
 6.1,
 5.6,
 6.7,
 5.6,
 5.8,
 6.2,
 5.6,
 5.9,
 6.1,
 6.3,
 6.1,
 6.4,
 6.6,
 6.8,
 6.7,
 6.0,
 5.7,
 5.5,
 5.5,
 5.8,
 6.0,
 5.4,
 6.0,
 6.7,
 6.3,
 5.6,
 5.5,
 5.5,
 6.1,
 5.8,
 5.0,
 5.6,
 5.7,
 5.7,
 6.2,
 5.1,
 5.7,
 6.3,
 5.8,
 7.1,
 6.3,
 6.5,
 7.6,
 4.9,
 7.3,
 6.7,
 7.2,
 6.5,
 6.4,
 6.8,
 5.7,
 5.8,
 6.4,
 6.5,
 7.7,
 7.7,
 6.0,
 6.9,
 5.6,
 7.7,
 6.3,
 6.7,
 7.2,
 6.2,
 6.1,
 6.4,
 7.2,
 7.4,
 7.9,
 6.4,
 6.3,
 6.1,
 7.7,
 6.3,
 6.4,
 6.0,
 6.9,
 6.7,
 6.9,
 5.8,
 6.8,
 6.7,
 6.7,
 6.3,
 6.5,
 6.2,
 5.9]

In [14]:
# map sepal_length to sepal_length + 1
sepal_length_plus_1 = map(lambda i: i + 1, df['sepal_length'])
print(list(sepal_length_plus_1))

[6.1, 5.9, 5.7, 5.6, 6.0, 6.4, 5.6, 6.0, 5.4, 5.9, 6.4, 5.8, 5.8, 5.3, 6.8, 6.7, 6.4, 6.1, 6.7, 6.1, 6.4, 6.1, 5.6, 6.1, 5.8, 6.0, 6.0, 6.2, 6.2, 5.7, 5.8, 6.4, 6.2, 6.5, 5.9, 6.0, 6.5, 5.9, 5.4, 6.1, 6.0, 5.5, 5.4, 6.0, 6.1, 5.8, 6.1, 5.6, 6.3, 6.0, 8.0, 7.4, 7.9, 6.5, 7.5, 6.7, 7.3, 5.9, 7.6, 6.2, 6.0, 6.9, 7.0, 7.1, 6.6, 7.7, 6.6, 6.8, 7.2, 6.6, 6.9, 7.1, 7.3, 7.1, 7.4, 7.6, 7.8, 7.7, 7.0, 6.7, 6.5, 6.5, 6.8, 7.0, 6.4, 7.0, 7.7, 7.3, 6.6, 6.5, 6.5, 7.1, 6.8, 6.0, 6.6, 6.7, 6.7, 7.2, 6.1, 6.7, 7.3, 6.8, 8.1, 7.3, 7.5, 8.6, 5.9, 8.3, 7.7, 8.2, 7.5, 7.4, 7.8, 6.7, 6.8, 7.4, 7.5, 8.7, 8.7, 7.0, 7.9, 6.6, 8.7, 7.3, 7.7, 8.2, 7.2, 7.1, 7.4, 8.2, 8.4, 8.9, 7.4, 7.3, 7.1, 8.7, 7.3, 7.4, 7.0, 7.9, 7.7, 7.9, 6.8, 7.8, 7.7, 7.7, 7.3, 7.5, 7.2, 6.9]

In [19]:
def filter_func(x):
    return x > 5

sepal_length_bigger_than_5 = filter(filter_func, df['sepal_length'])

display(list(sepal_length_bigger_than_5))

[5.1,
 5.4,
 5.4,
 5.8,
 5.7,
 5.4,
 5.1,
 5.7,
 5.1,
 5.4,
 5.1,
 5.1,
 5.2,
 5.2,
 5.4,
 5.2,
 5.5,
 5.5,
 5.1,
 5.1,
 5.1,
 5.3,
 7.0,
 6.4,
 6.9,
 5.5,
 6.5,
 5.7,
 6.3,
 6.6,
 5.2,
 5.9,
 6.0,
 6.1,
 5.6,
 6.7,
 5.6,
 5.8,
 6.2,
 5.6,
 5.9,
 6.1,
 6.3,
 6.1,
 6.4,
 6.6,
 6.8,
 6.7,
 6.0,
 5.7,
 5.5,
 5.5,
 5.8,
 6.0,
 5.4,
 6.0,
 6.7,
 6.3,
 5.6,
 5.5,
 5.5,
 6.1,
 5.8,
 5.6,
 5.7,
 5.7,
 6.2,
 5.1,
 5.7,
 6.3,
 5.8,
 7.1,
 6.3,
 6.5,
 7.6,
 7.3,
 6.7,
 7.2,
 6.5,
 6.4,
 6.8,
 5.7,
 5.8,
 6.4,
 6.5,
 7.7,
 7.7,
 6.0,
 6.9,
 5.6,
 7.7,
 6.3,
 6.7,
 7.2,
 6.2,
 6.1,
 6.4,
 7.2,
 7.4,
 7.9,
 6.4,
 6.3,
 6.1,
 7.7,
 6.3,
 6.4,
 6.0,
 6.9,
 6.7,
 6.9,
 5.8,
 6.8,
 6.7,
 6.7,
 6.3,
 6.5,
 6.2,
 5.9]

In [22]:
# currying

def filter_func(x, y, z):
    return x > y + z

# currying
def filter_func(x):
    def inner(y, z):
        return x > y + z
    return inner

filter_func_5 = filter_func(5)
sepal_length_bigger_than_5 = filter(lambda x: filter_func_5(x, 2), df['sepal_length'])

display(list(sepal_length_bigger_than_5))
# filter sepal_length > 5
sepal_length_bigger_than_5 = filter(lambda x: x > 5, df['sepal_length'])
display(list(sepal_length_bigger_than_5))

[]

[5.1,
 5.4,
 5.4,
 5.8,
 5.7,
 5.4,
 5.1,
 5.7,
 5.1,
 5.4,
 5.1,
 5.1,
 5.2,
 5.2,
 5.4,
 5.2,
 5.5,
 5.5,
 5.1,
 5.1,
 5.1,
 5.3,
 7.0,
 6.4,
 6.9,
 5.5,
 6.5,
 5.7,
 6.3,
 6.6,
 5.2,
 5.9,
 6.0,
 6.1,
 5.6,
 6.7,
 5.6,
 5.8,
 6.2,
 5.6,
 5.9,
 6.1,
 6.3,
 6.1,
 6.4,
 6.6,
 6.8,
 6.7,
 6.0,
 5.7,
 5.5,
 5.5,
 5.8,
 6.0,
 5.4,
 6.0,
 6.7,
 6.3,
 5.6,
 5.5,
 5.5,
 6.1,
 5.8,
 5.6,
 5.7,
 5.7,
 6.2,
 5.1,
 5.7,
 6.3,
 5.8,
 7.1,
 6.3,
 6.5,
 7.6,
 7.3,
 6.7,
 7.2,
 6.5,
 6.4,
 6.8,
 5.7,
 5.8,
 6.4,
 6.5,
 7.7,
 7.7,
 6.0,
 6.9,
 5.6,
 7.7,
 6.3,
 6.7,
 7.2,
 6.2,
 6.1,
 6.4,
 7.2,
 7.4,
 7.9,
 6.4,
 6.3,
 6.1,
 7.7,
 6.3,
 6.4,
 6.0,
 6.9,
 6.7,
 6.9,
 5.8,
 6.8,
 6.7,
 6.7,
 6.3,
 6.5,
 6.2,
 5.9]

In [29]:
def mulipy_first(x):
    def multiply_second(y):
        return x * y
    
    return multiply_second

mal_2 = mulipy_first(2)

display(mal_2(3))

6

In [ ]:
[x * x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

: